body {
    background-color: #242629;
}
button {
    border: 3px #3b2b6b solid;
    border-bottom: 6px #3b2b6b solid;
    background-color: #7f5af0;
    color: #dfdfdd;
}
button:hover {
    background-color: #5c42ac;
}
button:active {
    border-bottom: 3px #3b2b6b solid;
}
#copiar-cont, #input, #copiar-area, input{
    background-color: #16161a;
    color: #a5b3c5;
}
#configp {
    background-color: #242629;
}
#configp, .cinput {
    border: 3px solid #000;
}
#copiar-cont, #input, input {
    border: 3px #000 solid;
    outline: none;
}
header {
    border-bottom: 3px #a5b3c5 solid;
    color: #a5b3c5;
}
#copiar-area, a {
    color: #a5b3c5;
}
i, #ctitle {
    color: #a5b3c5;
}
[tema = 'bad'] {
    background-color: #f25042;
    border: #92332a solid 3px;
    color: #fffffe;
}
[tema = 'good'] {
    background-color: #62b492;
    border: #249264 solid 3px;
    color: #fffffe;
}
.fa-arrow-right-arrow-left, .fa-broom, .fa-circle-half-stroke, .fa-wrench, .fa-plus, .fa-minus, .fa-xmark, .fa-repeat {
    color: #dfdfdd;
}
body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
    background-color: #4b368a6c;
}