body {
    background-color: #f9f4ef;
}
button {
    background-color: #8c7851;
    color: #fffffe;
}
button:hover {
    background-color: #716040;
}
#copiar-cont, #input {
    background-color: #f8ede1b4;
}
#copiar-cont, #input, button {
    border: 3px #020826 solid;
    outline: none;
}
header {
    border-bottom: 3px #020826 solid;
}
#copiar-area, a {
    color: #020826;
}
i {
    color: #383021;
}
[tema = 'bad'] {
    background-color: #f25042;
    border: #92332a solid 3px;
    color: #fffffe;
}
[tema = 'good'] {
    background-color: #62b492;
    border: #249264 solid 3px;
    color: #fffffe;
}
.fa-arrow-right-arrow-left, .fa-broom {
    color: #fffffe;
}