main, header, button, input, #copiar-area {
    /* border: #000 solid 1px; */
    font-size: x-large;
    font-family: "Martian Mono", monospace;
}
button {
    padding: 5px 10px;
    margin: 10px 0px;
    height: auto;
    min-width: 200px;

    border: 3px #000 solid;
    border-radius: 10px;
    background-color: #fff;
}
.boton {
    display: flex;
    justify-content: center;
}
#input-area {
    display: flex;
    justify-content: center;
}
#input {
    width: 100%;
    margin: 0px 10px;
    padding: 15px;
    border-radius: 10px;
    border: 3px #000 solid;
}
#copiar-cont {
    display: flex;
    justify-content: center;
}
#copiar-area {
    width: 100%;
    margin: 0px 10px;
    padding: 15px;
    border-radius: 10px;
    border: 3px #000 solid;
}

@media screen and (min-width: 1000px) {
    main {
        display: flex;
        height: 75vh;
        flex-direction: row;
        width: 100%;
        margin-top: 25px;
    }
    #text,
    #copiar-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #text {
        width: 70%;
    }
    #input-area,
    #copiar-cont {
        width: 100%;
        height: 85vh;
    }
    #botones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    #copiar-text {
        width: 30%;
        height: 100%;
    }
}
@media screen and (max-width: 1000px) {
    main {
        margin: 25px 40px;
        display: flex;
        flex-direction: column;
    }
    #botones {
        display: flex;
        justify-content: center;
        gap: 30px;
        height: auto;
        margin-bottom: 10px;
    }
    #input-area {
        width: 100%;
        height: 38vh;
    }
    #copiar-cont {
        width: 100%;
        height: 25vh;
    }
}
@media screen and (max-width: 600px) {
    #botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        height: auto;
    }
    #desencripb {
        margin-top: 0px;
    }
}

header {
    height: 10vh;
    border-bottom: #000 solid 3px;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    justify-content: space-between;
    gap: 30px;
}
#header {
    margin-bottom: 2px;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    font-size: smaller;
    font-family: "Martian Mono", monospace;
}